# conditional statament

In [ ]:
stat1
stat2
stat3
if condition:
    stat4
    stat5

if the condition is true - 1 , 2 , 3 , 4 , 5
if the condition is false - 1,2,3

In [ ]:
stat1
stat2
stat3
if condition:
    stat4
    stat5
stat6
stat7
    
if the condition is true - 1 , 2 , 3 , 4 , 5,6,7
if the condition is false - 1,2,3 , 6 , 7

In [ ]:
stat1
stat2
stat3
if cond:
    stat4
    stat5
else:
    stat6
    stat7
stat8
stat9
    
if the condition is true - 1,2,3,4,5,8,9
if the condition is false - 1,2,3,6,7,8,9

In [ ]:
stat1
stat2
stat3
if cond1:
    stat4
    stat5
if cond2:
    stat6
    stat7
if cond3:
    stat8
    stat9
else:
    stat10
    stat11
stat12
stat13
    
if the condtion1 is true - 1,2,3,4,5,10,11,12,13
if the condtion1 and cond2 is true ,  - 1,2,3,4,5,6,7,10,11,12,13

if the condtion1 is false and cond2 is true  ,cond3 is true- 1,2,3,6,7,8,9,12,1,3

In [ ]:
stat1
stat2
stat3
if cond1:
    stat4
    stat5
else:
    stat100
    stat200
if cond2:
    stat6
    stat7
    if cond_2_1:
        stat1000
    else:
        stat2000
if cond3:
    stat8
    stat9
else:
    stat10
    stat11
    
stat12
stat13

if the condtion1 is false and cond2 is true  ,cond3 is true , cond_2_1 is false- 1,2,3,100,200,6,7,2000,8,9,12,13

In [ ]:
if elif , else

stat1
stat2
stat3
if cond1:
    stat4
    stat5
elif cond2:
    stat6
    stat7
elif cond3:
    stat8
    stat9
else:
    stat10
    stat11
stat12
stat13

if cond1 is true and other condition are false - 1,2,3,4,5,12,13

if cond2 is true and other condition are false - 1,2,3,6,7,12,13

id all the conditions are false - 1,2,3,10,11,12,13

In [1]:
a  =33
b  =333
if b > a:
    print('b is greater than a')

b is greater than a

In [2]:
a  =33
b  =333
if b > a:
    print('b is greater than a')

b is greater than a

In [7]:
a  =33
b  =33
if b > a:
    print('b is greater than a')
elif b==a :
    print('b == a')
elif b < a:
    print('b is less than a')

    
a  =33
b  =33
if b > a:
    print('b is greater than a')
if b==a :
    print('b == a')
if b < a:
    print('b is less than a')
    
a  =33
b  =333
if b > a:
    print('b is greater than a')
    if b==a :
        print('b == a')
    else :
        print('b is less than a')
    
    
a  =33
b  =333
if b > a:
    print('b is greater than a')
elif b==a :
    print('b == a')
else :
    print('b is less than a')

b == a
b == a
b is greater than a
b is less than a
b is greater than a

In [11]:
# ANd

#both the condition should be satisfied

a = 900
b = 100
c = 700

if a>b and a>c:
    print('a is greater than both b and c')
else :
    print('less than b and c')

a is greater than both b and c

In [12]:
# or
a = 200
b = 100
c = 700

if a>b or a>c:
    print('a is greater than both b and c')

a is greater than both b and c

In [14]:
# nested if  - if inside a if
x = 91
if x > 10:
    print('statment1')
    if x  > 30 :
        print('stat2')
    else:
        print('stat3')
else:
    print('stmnt4')

statment1
stat2

In [15]:
# pass - if statment cannot be empty 

a = 33
b = 200

if b > a:
    pass
if a<b:
    print('statment_1')

statment_1

In [112]:
input_1={'name':["Biswajit","Subrajit","Guru"],"age":[24,25,26],"roll":[1,2,3],"occ":['job','job','buis']} 
#len(input.keys()) 
a=[] 
for i in range(0,len(input_1['occ'])): 
    if (input_1['occ'][i]=='job'): 
        a.append("Ok") 
    else: 
        a.append("Very Ok") 
print(a) 
input_1.update({"status":a})
print(input_1)

['Ok', 'Ok', 'Very Ok']
{'name': ['Biswajit', 'Subrajit', 'Guru'], 'age': [24, 25, 26], 'roll': [1, 2, 3], 'occ': ['job', 'job', 'buis'], 'status': ['Ok', 'Ok', 'Very Ok']}

In [ ]:
# Q1. take an user input as a number 0-4 and print the number in the word format


# sol1
dict_1 = {'1':"one",'2':"Two",'3':"Three",'4':"Four"} 
str1 = input("Enter number") 
for key , value in dict_1.items(): 
    if str1 == key: 
        print(value)
    else: 
        print("Number doesn't exists")
        
# sol2
abc = input("enter number between 0-4: ") 
if abc == '0': 
    print('zero') 
if abc == '1': 
    print('one') 
if abc == '2': 
    print('two') 
if abc == '3': 
    print('three')
if abc == '4': 
    print('four')

#####  Q2 find a year entered by user is a leap year or not
- if year is div by 4 leap
- if year is div by 4 and year div by 100 and div by 400 -- leap year
- if year is not div by 4 - no leap

In [28]:
#sol

year = int(input('Enter the year    : '))

if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print('Leap year')
        else:
            print('Not leap year')
    else:
        print('Leap year')
else:
    print('Not a leap year')

Enter the year    : 400
Leap year

In [39]:
#Q3 design a calculator when enter two numbers will e taken by user
#  operation code will be taken by user
#     1- add
#     2- sub
#     3- mul
#     5. div

#sol

N1 = int(input('Enter the first Number  :'))
N2 = int(input('Enter the second Number  :'))

add = N1 + N2
print('addition of both the number is   : ' , add)

mult = N1*N2
print('multiplication of both the number is   : ' , mult)

if N1>=N2 :
    sub = N1-N2
    print('subtraction of both the number is   : ' , sub)
else :
    sub = N2-N1
    print('subtraction of both the number is   : ' , sub)

if N1>=N2 :
    div = N1/N2
    print('division of both the number is   : ' , div)
else :
    div = N2/N1
    print('division of both the number is   : ' , div)

Enter the first Number  :10
Enter the second Number  :100
addition of both the number is   :  110
multiplication of both the number is   :  1000
subtraction of both the number is   :  90
division of both the number is   :  10.0

### While loop
- if we dont know the iteration
- if we want to start or stop the loop based on condtition

syntax-
1. intilisation
2. condition checking
3. increment / decrement

In [127]:
i = 0  # intilisation
while i < 10: # condtion checking
    print('some random statement')
    i = i+1  # increment

some random statement
some random statement
some random statement
some random statement
some random statement
some random statement
some random statement
some random statement
some random statement
some random statement

In [44]:
a = 'python'
print(a[0]*1)
print(a[1]*2)
print(a[2]*3)
print(a[3]*4)
print(a[4]*5)
print(a[5]*6)


#for
for i in range(len(a)):
    print(a[i]*(i+1))
    
#while

i = 0   #intiolisation
while i < len(a): # condtion checking
    print(a[i]*(i+1))
    i+=1  # increment

p
yy
ttt
hhhh
ooooo
nnnnnn
p
yy
ttt
hhhh
ooooo
nnnnnn
p
yy
ttt
hhhh
ooooo
nnnnnn

## Break

-the break keyword is used to break out of a loop

In [128]:
# for

for i in range(9):
    if i > 3:
        break
    print(i)
    
# while

i = 0
while i<9:
    if i > 3:
        break
    print(i)
    i=i+1

0
1
2
3
0
1
2
3

## Continue 

the continue keyword is used to end the cureent iteration in a loop

In [47]:
for i in range(9):
    if i == 3:
        continue
    print(i)
    print('Mahender')
    print(100)

0
Mahender
100
1
Mahender
100
2
Mahender
100
4
Mahender
100
5
Mahender
100
6
Mahender
100
7
Mahender
100
8
Mahender
100

In [133]:
# display the following output using for loop where the string is 'python'


#nnnnnn
#ooooo
#hhhh
#ttt
#yy
#p

a = 'python'
print(a[5]*6)
print(a[4]*5)
print(a[3]*4)
print(a[2]*3)
print(a[1]*2)
print(a[0]*1)

# for
a = 'python' 
for i in range(len(a)): 
    print(a[len(a)-1-i]*(len(a)-i)) 

# while
i = len(a)
while i >=0:
    print(a[i-1]*i)
    i = i-1

nnnnnn
ooooo
hhhh
ttt
yy
p
nnnnnn
ooooo
hhhh
ttt
yy
p
nnnnnn
ooooo
hhhh
ttt
yy
p

## Funtions

In [85]:
# fucntion - DRY ( Do not repeat yourself)

# fucntion has two parts
# 1. fucntion defination - we define the function or task
# 2. function call - we exceute a function


# syntax
# 1. function defination

# def function name(parmater):
#     statement1
#     statemen2   
#     statement3
#     return stmnt 4

# # paramter and return are optional

In [84]:
# 2. function call
# -func-name(arguments)
# without args

def sum():      # function defination
    print(2+3)
sum()           # function call


# with arguments

def sum(a,b):   # function defination
    print(2+3)
sum(2,3)        # function call

5
5

In [162]:
name = input('Enter your name    :  ')
def greet(name):
    print('hello '+ name + ' !')
greet(name)

Enter your name    :  Mahender
hello Mahender !

In [137]:
a = input('Enter the String   :')
def palindrome(a):
    if  a== a[::-1] :
        print('palindrome')
    else:
        print('not a palindrome')

palindrome(a)

Enter the String   :level
palindrome

In [82]:
def test_1(a): 
    if a==a[::-1]: 
        print("palindrome") 
    else: 
        print("not a palindrome") #test_1("level")) 
        
b=input("enter a string   :   ") 
print(test_1(b))

enter a string   :   mam
palindrome
None

## different types of argument

1. positional arguments
2. default keyword
3. default argmens
4. varibale length argumnets

## 1 positional argument
- the order is important
- number of args should match the number of paramters

In [155]:
def emp_data(emp_name , emp_sal , emp_age):
    print(emp_name)
    print(emp_sal)    
    print(emp_age)

#order is imp
emp_data('10k' , '24','Mahender')

#order is imp
emp_data('10k' , '24' , 'avdf','fdh' )

10k
24
Mahender

TypeError: emp_data() takes 3 positional arguments but 4 were given

## 2.default arguments

In [164]:
def emp_data(emp_name , emp_sal , emp_age , emp_location = 'banglore'):
    print(emp_name)
    print(emp_sal)    
    print(emp_age)
    print(emp_location)

#order is imp
emp_data('10k' , '24','Mahender' , 'New Delhi')
emp_data('20k' , '25' , 'Inder' )

# #order is imp
# emp_data('10k' , '24' , 'avdf' , 'sadsad')


# impoertant -  default argumnet should follow the positional argument

10k
24
Mahender
New Delhi
20k
25
Inder
banglore

### 3. keyword argument

In [99]:
#order is not important
def emp_data(emp_name , emp_sal , emp_age , emp_pin = '516282' , emp_location = 'banglore'):
    print(emp_name)
    print(emp_sal)    
    print(emp_age)
    print(emp_pin)
    print(emp_location)
    
emp_data(emp_name = 'mahender' , emp_sal = '10k' , emp_age = '24')
emp_data(emp_age = '24' , emp_name = 'Inder' , emp_sal = '10k')

mahender
10k
24
516282
banglore
Inder
10k
24
516282
banglore

### 4.varibale length argments
- *args - takes a varibale length positional args and stores in the tuple.

In [165]:
def emp_data(*args):
    print(args)
    
emp_data('10k' , '24','mahender' , 'delhi')

('10k', '24', 'mahender', 'delhi')

In [166]:
# 1 - args athe the end
def emp_data(emp_name , emp_sal , emp_ 
    print(emp_sal)    
    print(emp_age)
    print(emp_pin)
    print(emp_location)
    print(args)
    
emp_data(emp_name = 'Mahender' , emp_sal = '10k' , emp_age = '24')

emp_data('abc' , 1,2,3,4,5,6,7,8,9,0)

Mahender
10k
24
516282
banglore
()
abc
1
2
3
4
(5, 6, 7, 8, 9, 0)

In [168]:
# 2 - args before dafault
def emp_data(emp_name , emp_sal , emp_age , *args,  emp_pin = '516282' , emp_location = 'banglore' ):
    print(emp_name)
    print(emp_sal)    
    print(emp_age)
    print(emp_pin)
    print(emp_location)
    print(args)
    
emp_data(emp_name = 'mahender' , emp_sal = '10k' , emp_age = '24')

emp_data('abc' , 1,2,3,4,5,6,7,8,9,0)

emp_data('abc' , 1,2,3,4,5,6,7,8,9,0 , emp_pin = '10054' , emp_location = 'jaipur')

mahender
10k
24
516282
banglore
()
abc
1
2
516282
banglore
(3, 4, 5, 6, 7, 8, 9, 0)
abc
1
2
10054
jaipur
(3, 4, 5, 6, 7, 8, 9, 0)

In [170]:
# 3 - args at start
def emp_data(*args  , emp_name , emp_sal , emp_age ,  emp_pin = '516282' , emp_location = 'banglore' ):
    print(emp_name)
    print(emp_sal)    
    print(emp_age)
    print(emp_pin)
    print(emp_location)
    print(args)
    
emp_data(emp_name = 'mahender' , emp_sal = '10k' , emp_age = '24')

emp_data('abc' , 1,2,3,4,5,6,7,8,9,0 , emp_name = "mahender" , emp_sal = '10k' , emp_age = '24')

mahender
10k
24
516282
banglore
()
mahender
10k
24
516282
banglore
('abc', 1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [111]:
# **kwargs
#  *args - takes a varibale keyword args and stores in the dic

# 1 
def emp_data(emp_name , emp_sal , emp_age ,  emp_pin = '516282' , emp_location = 'banglore', **kwargs):
    print(emp_name)
    print(emp_sal)    
    print(emp_age)
    print(emp_pin)
    print(emp_location)
    print(kwargs)
    
emp_data(emp_name = 'mahender' , emp_sal = '10k' , emp_age = '24')

emp_data('mahender' , 1,2,3,4, abc = 5, xyz = 6, aaa = 7)

mahender
10k
24
516282
banglore
{}
mahender
1
2
3
4
{'abc': 5, 'xyz': 6, 'aaa': 7}